html, 
body {
    height: 100%;
    overflow: hidden;
}
body {
  background: url("assets/workshop/sf-background.png") 0 0 no-repeat; 
  background-size: 100% 100%;
}
h1 {
	color: white;
}

.fireball { 
  width: 122px;
  height: 88px;
  background: url("assets/workshop/sprite.png") right 0 no-repeat; 
}

.launched.fireball {
  position: absolute;
  left: 90px;
  bottom: 0;

  animation: fireball-start 0.2s steps(2) 0s 1,
             fireball-road 3s 0s 1,
             fireball-animation-road 0.5s steps(4) 0.2s 5,
             fireball-end 0.2s steps(2) 2.8s 1;
}
/* Fireball */

@keyframes fireball-start {
  0% { background-position: -488px 0; }
  100% { background-position: -488px -176px; }
}
@keyframes fireball-road {
  0% { left: 90px; }
  100% { left: 95%; }
}
@keyframes fireball-animation-road {
  0% { background-position: -488px -176px; }
  100% { background-position: -488px -528px; }
}
@keyframes fireball-end {
  0% { background-position: -488px -528px; }
  100% { background-position: -488px -880px; }
}