.layout {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  transform: translateZ(0); /* permet l'accélération matériel */
}
.layout .ryu, .layout .fireball { 
  width: 122px;
  height: 88px;
  background: url("assets/workshop/sprite.png") right 0 no-repeat; 
}

.layout .ryu {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("assets/workshop/sprite.png") 0 0 no-repeat; 

  animation: ryu 2.5s steps(11) 0s 1;              

  transform: translateZ(0);

}
.layout.launch-fireball .fireball {
  position: absolute;
  left: 90px;
  bottom: 0;

  animation: fireball-start 0.2s steps(2) 2.5s 1,
             fireball-road 3.7s 2.5s 1,
             fireball-animation-road 0.5s steps(4) 2.7s 5,
             fireball-end 0.2s steps(2) 5.2s 1;
}

.layout.launch-fireball .ryu {

  animation:  ryu-prepare-fireball 2s steps(12) 1s 1,
              ryu-launch-fireball 0.5s steps(1) 2.5s 1,
              ryu-launched-fireball 0.5s steps(2) 3s 6,
              ryu-wind 1s steps(3) 8s infinite;
}

/* RYU */

@keyframes ryu {
  0% { background-position: 0 0; }
  100% { background-position: 0 -968px; }
}
@keyframes ryu-prepare-fireball {
  0% { background-position: -244px 0; }
  100% { background-position: -244px -1056px; }
}
@keyframes ryu-launch-fireball {
  0% { background-position: -366px 0; }
  100% { background-position: -366px 0px; }
}
@keyframes ryu-launched-fireball {
  0% { background-position: -366px -88px; }
  100% { background-position: -366px -264px; }
}
@keyframes ryu-wind {
  0% { background-position: -122px -440px; }
  100% { background-position: -122px -704px; }
}

/* Fireball */

@keyframes fireball-start {
  0% { background-position: -488px 0; }
  100% { background-position: -488px -176px; }
}
@keyframes fireball-road {
  0% { left: 90px; }
  100% { left: 95%; }
}
@keyframes fireball-animation-road {
  0% { background-position: -488px -176px; }
  100% { background-position: -488px -528px; }
}
@keyframes fireball-end {
  0% { background-position: -488px -528px; }
  100% { background-position: -488px -880px; }
}